.bg-yellow {
    background-color: rgba(255, 235, 144, 1);
}

.bg-yellow-orange {
    background-image: linear-gradient(rgba(255, 235, 144, 1), rgba(255, 235, 144, 0));
    background-color: rgba(253, 208, 0, 1);
}

.bg-gray-black {
    background-color: rgba(27, 27, 27, 1);
    background-image: linear-gradient(rgba(5, 5, 5, 1), rgba(5, 5, 5, 0));
}

.height-full {
    min-height: 100vh;
}

.height-3qrt {
    min-height: 82.5vh;
}

.pad-l {
    padding-left: 8%;
}

.pad-r {
    padding-right: 8%;
}

.pad-lr {
    padding-left: 8%;
    padding-right: 8%;
}

.pad-tb {
    padding-top: 1%;
    padding-bottom: 1%;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    align-items: center;
}

@media (max-width: 910px) {
    .tagline {
        font-size: 3em;
    }
}