.bg-yellow-orange {
    background-image: linear-gradient(#FFEB90, #ffdf4e);
    height: 100vh;
}

.pad-page {
    padding: 1% 8% 0 8%;
}

.row {
    display: flex;
    align-items: center;
}

.tagline {
    font-size: 5em;
    width: 50%;
    background-color: pink;
    justify-self: center;
}

@media (max-width: 910px) {
    .tagline {
        font-size: 3em;
    }
}