.brand-name {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 2em;
    color: #131313;
}

.tagline {
    font-size: 4em;
    width: 100%;
    justify-self: center;
}

.tagline-focus {
    font-size: 5em;
    width: fit-content;
    background-color: white;
}

.tagline-focus-small {
    font-size: 2em;
    width: fit-content;
    background-color: white;
    margin: 0 auto;
}

.product-name {
    font-size: 2em;
    width: fit-content;
}